{
    "browsers": [
        {
            "name": "Chrome",
            "cmd": "/usr/bin/google-chrome-unstable",
            "icon": "/opt/google/chrome-unstable/product_logo_128.png",
            "domains": [
                "*google.com",
                "*gmail.com"
            ]
        },
        {
            "name": "Firefox",
            "cmd": "/usr/bin/firefox",
            "icon": "/usr/share/pixmaps/firefox.png"
        },
        {
            "name": "Opera Developer",
            "cmd": "/usr/bin/opera-developer",
            "icon": "/usr/share/icons/hicolor/128x128/apps/opera-developer.png",
            "domains": [
                "*opera.com"
            ]
        }
    ],
    "position": {
        "x": 765,
        "y": 460
    },
    "default_browser": "Firefox"
}
