{
    "browsers": [
        {
            "name": "Chrome",
            "path": "/usr/bin/google-chrome-unstable",
            "icon": "/opt/google/chrome-unstable/product_logo_128.png"
        },
        {
            "name": "Firefox",
            "path": "/usr/bin/firefox",
            "icon": "/usr/share/pixmaps/firefox.png"
        },
        {
            "name": "Opera Developer",
            "path": "/usr/bin/opera-developer",
            "icon": "/usr/share/icons/hicolor/128x128/apps/opera-developer.png"
        }
    ],
    "position": {
        "x": 765,
        "y": 460
    },
    "default_browser": "Firefox"
}
